/*=== form and pools css ===*/

.banner_info {
    @include bg-gradian;
    padding: 30px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    @include sm {
        padding: 20px;
        border-radius: 20px;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        max-width: 555px;
        @include position_right;
        background-image: url(../img/breadcrumb-bg.svg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &::after {
        @include position_left;
        background-color: rgba($color: $darkbg, $alpha: .50);
        z-index: -1;
        @include sm {
            content: ""
        }
    }
    & h3 {
        @include font-40;
        margin-bottom: 15px;
        @include sm {
            margin-bottom: 10px;
        }
    }
    & p {
        margin-bottom: 20px;
        @include sm {
            font-size: 14px;
        }
    }
}

.datainfo {
    &_header {
        margin-bottom: 15px;
        @include mmd {
            margin-bottom: 10px;
        }
        &_left {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            @include mmd {
                margin-bottom: 20px;
            }
            @include ssm {
                gap: 15px;
            }
            &>div {
                max-width: 100%;
                flex: 1;
            }
        }
        &_right {
            @include flex;
            justify-content: flex-end;
            gap: 30px;
            @include mmd {
                justify-content: space-between;
            }
            @include ssm {
                gap: 15px;
            }
            &>.custom_border {
                &::before {
                    width: 101%;
                    height: 104%;
                    border-radius: 100px;
                }
            }
            & .related {
                padding: 5px;
                border-radius: 100px;
                & li {
                    & a {
                        display: block;
                        font-size: 13px;
                        font-weight: 700;
                        color: $text-color;
                        border-radius: 100px;
                        padding: 6px 15px;
                        @include ssm {
                            padding: 5px 10px;
                        }
                        &.active {
                            @include primaryGradian;
                            color: $white;
                        }
                        &:hover {
                            @include primaryGradianHover;
                            color: $white;
                        }
                    }
                }
            }
            & .view_option {
                & li {
                    &:not(:first-child) {
                        margin-left: 10px;
                        @include ssm {
                            margin-left: 5px;
                        }
                    }
                    &.custom_border {
                        &::before {
                            width: 103%;
                            height: 104%;
                        }
                    }
                    &.active {
                        &::before {
                            display: none;
                        }
                        & a {
                            background-color: $primary-2;
                        }
                    }
                    & a {
                        display: block;
                        padding: 12px;
                        border-radius: 10px;
                        @include sm {
                            padding: 10px;
                        }
                        @include ssm {
                            padding: 5px 8px;
                        }
                        & svg {
                            @include ssm {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    &-table {
        &-responsive {
            @include sm {
                overflow-y: hidden;
                overflow-x: scroll;
            }
        }
        & .custom_border {
            &>* {
                border-radius: 0;
            }
            &::before {
                width: 100.8%;
                margin-left: -3px;
                height: 103%;
                @include sm {
                    width: 101%;
                }
            }
        }
        & .d-flex {
            line-height: 1;
            &>div {
                max-width: 100%;
                flex: 0 0 auto;
            }
        }
        & .user {
            &_img {
                &_inner {
                    display: inline-block;
                    --user-img: 36px;
                    --user-img-sp: 18px;
                    height: var(--user-img);
                    width: var(--user-img);
                    border-radius: 100%;
                    overflow: hidden;
                    @include sm {
                        --user-img: 30px;
                    }
                    &:not(:first-child) {
                        position: relative;
                        right: var(--user-img-sp);
                        margin-right: calc(var(--user-img-sp) * -1);
                    }
                    & img {
                        @include img(cover);
                    }
                }
            }
            &_content {
                padding-left: 15px;
                @include sm {
                    padding-left: 10px;
                }
                & p {
                    @include text_ellipsis(1);
                    font-size: 16px;
                    @include sm {
                        font-size: 14px;
                    }
                }
            }
        }
        & table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 15px;
            @include sm {
                width: 700px !important;
                border-spacing: 0px 10px;
            }
            & tr {
                & td {
                    padding: 15px 20px;
                    @include sm {
                        padding: 10px 15px !important;
                    }
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        padding-left: 30px;
                    }
                    &:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    & .checkbox {
                        & input {
                            &:checked~label span {
                                &::before {
                                    background-color: $white;
                                }
                            }
                        }
                        &_icon {
                            &::before {
                                background-color: $primary;
                            }
                        }
                    }
                    & span {
                        font-size: 10px;
                        font-weight: 600;
                        display: block;
                        margin-bottom: 5px;
                        color: rgba($color: $white, $alpha: .70);
                    }
                    &>a {
                        font-size: 13px;
                        color: $primary !important;
                        & i {
                            margin-left: 5px;
                        }
                        &:hover {
                            opacity: .8;
                        }
                    }
                    &>p {
                        font-size: 16px;
                        color: $white;
                        @include sm {
                            font-size: 14px;
                        }
                    }
                    & .dropdown {
                        &>span {
                            --table-info: 25px;
                            margin: auto;
                            width: var(--table-info);
                            height: var(--table-info);
                            line-height: var(--table-info);
                            background-color: $primary-2;
                            border-radius: 100%;
                            color: $white;
                            margin-bottom: 0px;
                            cursor: pointer;
                            @include transition;
                            color: rgba($color: $white, $alpha: .70);
                            &:hover {
                                background-color: $primary;
                                color: $primary-2;
                            }
                        }
                    }
                }
            }
        }
        & .pagination {
            margin-top: 5px;
        }
    }
}