@media screen and (min-width: 992px) and (max-width: 1280px) {
    .header-area .main-menu li {
        margin-left: calc(15px + 25 * ((100vw - 992px) / 1280));
    }
    .header-area .main-menu li a {
        font-size: calc(16px + 4 * ((100vw - 992px) / 1280));
    }
      @keyframes jumpInfinite {
        0% {
            left: 30px;
        }
        50% {
            left: 60px;
        }
        100% {
            left: 30px;
        }
    }
   

}

@media screen and (min-width: 320px) and (max-width: 1170px) {
    h1 {
        font-size: calc(35px + 26 * ((100vw - 320px) / 1170));
    }
    h2 {
        font-size: calc(26px + 11 * ((100vw - 320px) / 1170));
    }
    h3 {
        font-size: calc(22px + 9 * ((100vw - 320px) / 1170)) !important;
    }
    p {
        font-size: 15px;
    }
    .single-service-area {
        padding: 25px;
    }
    .services-area {
        padding-top: calc(60px + 20 * ((100vw - 320px) / 1170));
        padding-bottom: calc(60px + 100 * ((100vw - 320px) / 1170));
    }
    .bitme-worldround-content-area {
        padding-top: 10px;
        padding-bottom: calc(60px + 80 * ((100vw - 320px) / 1170));
    }
    .single-service-area img {
        max-width: 40px;
    }
    .hero-right-img .hero-star-2 {
        bottom: 30px;
    }
    @keyframes star-2 {
        0% {
            right: 0px;
        }
        50% {
            right: 30px;
        }
        100% {
            right: 0px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .fixed-top {
        top: 0px;
        transform: translateY(0px);
    }
    .header-area {
        padding: 0;
    }
    .hero-area p {
        line-height: 1.5;
    }
    .header-area .main-menu li {
        margin: 0;
    }
    .header-area .main-menu li a:hover:after,
    .header-area .main-menu li.active>a:after,
    .footer-menu li a:hover:after {
        width: 30px;
    }
    .header-area .main-menu li a {
        display: inline-block;
    }
    .navbar-nav {
        text-align: center;
    }
    .menu-btn {
        position: relative;
        margin-top: 22px;
    }
    .header-area .main-menu {
        align-items: start;
        padding: 20px;
        padding-bottom: 25px;
    }
    .navbar-nav {
        text-align: center;
        background: #191919;
    }
    .header-area .main-menu li {
        width: 100%;
    }
    .header-area .main-menu li a {
        display: block;
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ccc3;
    }
    .navbar-toggler-icon::before {
        transform: translateY(-12px);
    }
    .navbar-toggler-icon::after {
        transform: translateY(12px);
    }
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        height: 2px;
        margin-left: -22px;
        width: 35px;
    }
    .navbar-toggler-icon {
        height: 2px;
        width: 25px;
    }
    .navbar-toggler {
        padding-right: 0px;
    }
    .hero-right-img .hero-star-1{
        top:-50px
    }

    @keyframes jumpInfinite {
        0% {
            left: 0px;
        }
        50% {
            left: 30px;
        }
        100% {
            left: 0px;
        }
    }
}


/* max-width 992px, large screens */

@media only screen and (max-width: 767px) {
    .hero-right-img img {
        max-width: calc(350px + 250 * ((100vw - 320px) / 768));
    }
    .hero-right-img {
        text-align: center;
        margin-bottom: 50px;
    }
    .ecosystem-area {
        padding-top: 50px;
    }
    .bitme-worldround-area {
        padding-top: 10px;
    }
    .footer-menu li a {
        margin-left: 0;
        margin-right: 56px;
    }
    .hero-area {
        padding-top: 125px;
        padding-bottom: 40px;
    }
    .hero-area p {
        font-size: 15px;
    }
    .hero-right-img .hero-star-1{
        top:0px
    }
    @keyframes jumpInfinite {
        0% {
            left: 80px;
        }
        50% {
            left: 110px;
        }
        100% {
            left: 80px;
        }
    }
    
    @keyframes star-2 {
        0% {
            right: 60px;
        }
        50% {
            right: 30px;
        }
        100% {
            right: 60px;
        }
    }
}


/* min-width 768px, medium screens */

@media only screen and (max-width: 576px) {
    img.s-bg {
        display: none;
    }
    .services-area {
        background: #0C233E;
    }
    .counter-area {
        margin-top: 50px;
        justify-content: start !important;
    }
    .counter-area .text-center {
        text-align: left !important;
    }
    .top-farms-area .title {
        padding-bottom: 40px;
    }
    @keyframes jumpInfinite {
        0% {
            left: 10px;
        }
        50% {
            left: -10px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes star-2 {
        0% {
            right: 60px;
        }
        50% {
            right: 30px;
        }
        100% {
            right: 60px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .buttons-area {
        align-items: flex-start;
        flex-direction: column;
    }
    .passive-income-crypto-area .buttons-area,
    .bitme-worldround-content-area .buttons-area {
        flex-direction: row;
    }
    .boxed-btn,
    .inline-btn {
        padding: 15px 36px 15px 36px;
        width: 100%;
        text-align: center;
    }
    .navbar-toggler-icon::before {
        transform: translateY(-12px);
    }
    .navbar-toggler-icon::after {
        transform: translateY(12px);
    }
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        width: 30px;
        margin-left: -19px;
    }
    .navbar-toggler-icon {
        width: 20px;
    }
    .passive-income-crypto-area {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hero-right-img .hero-star-1{
        top:-20px
    }
    .hero-right-img .hero-star-2 {
        bottom: 10px;
    }
}


/* max-width 640px, mobile-only styles, use when QAing mobile issues */


/* Medium screens */